.text{
    
    font-size: "20px";
    line-height: 34px;
    color: #476788;
    font-family: Gilroy - 400;
    font-weight: 400;
    font-style: normal;
       

}  
.date{
    font-size: "16px";
    line-height: 19px;
    color: #0b3558;
    font-family: Gilroy - 700;
    font-weight: 700;
    font-style: normal;
}
.webinar{
    
    font-size: "16px";
    line-height: 19px;
    color: #476788;
    font-family: Gilroy - 600;
    font-weight: 600;
    font-style: normal;
       

} 