
.menuContent li{
    position: relative;
    margin: 0;
    padding:0;
    list-style: none;
}
.menuContent h4{
    position: relative;
    margin: 0;
    padding:0;
}
.menuContent h4:hover{
    color: #006bff;
}
 .menuContent li:hover {
    cursor: pointer;
    top: 0;
    padding: 0;
    margin: 0;
}

.menuContent li:hover .menuSub{
    display: block;
    position: absolute;
    left:-500px;
    margin-top:50px; 
    transform: scale(1.1);
}

.menuSub a{
  display: block;
}
.menuContent li:hover .menuSub1{
    display: block;
    position: absolute;
    left:-650px;
    margin-top:50px; 
    transform: scale(1.2);
}
.menuSub1 a{
  display: block;
}
.menuContent h6:hover{
    color:#006bff;
}
.SL_BTN1 button:hover{
    color:white;
    background-color:#006bff ;
}

