.time_main{
    /* width: 60%;
    margin: auto; */
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 8%;
 
}

.time_main_box1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 10px;
    margin-bottom: 10px;
}

.time_main_box1_a{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* box2 */
.time_main_box2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 10px;
    padding: 30px;
}

.time_main_box2_a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.time_main_box2_b{
    display: flex;
   
}
/* box3 */
.time_main_box3{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 10px;
  /* border: 1px solid; */
  padding: 30px;
}

.time_main_box3_a{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    /* border: 1px solid; */
   text-align: left;
   width: 40%;
    
}

.time_main_box3_b{
    /* border: 1px solid; */
    text-align: left;
    padding:0px 50px 0px 10px;
    width: 35%;
   
}

/* box-4 */

.time_main_box4{
width: 100%;
display: flex;
flex-direction: row-reverse;
gap: 20px;
padding: 20px;


}